/* ----global style---- */
html {
    margin:0;
    background-color: grey;
}
body {
    background-color: white;
    margin:0 auto;
    display:block;
    max-width:1024px;
}
.masthead{
    background-color: royalblue;
    margin: 0 auto;
    text-align: center;
}
 h1, h2, h3, h4, p{ 
    margin: 0 ;
    
}
nav {
    
    background-color:orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
nav ul {
    margin: 0;
    padding: 0;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    }
.container ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
figure {
    display:block;
    width:100%;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color:black
}
.container {
    
    background-color: salmon;
}
footer {
    background-color: plum;
    
}


/*--media query--*/

@media (min-width: 640px) {
/* .cards-container {
    } */
    .cards {
        background-color:white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card {
        width: calc(50% - 1em);
        /* flex: 0 1 33%; */
    }
    /* figure {} */
    .placeholder {
        margin:0
    }
    .card-content {
        margin:0;
        display:block;
        background-color: chartreuse;
    }
}
@media (min-width:960px) {
    .card {
        width: calc(33% - 1em);
        /* flex: 0 1 33%; */
    }
}